#product-nav{
    cursor: pointer;
}

.navbar, .carousel-inner .carousel-item{
    background-color: #FAFBFB;
}

/* #carousel_img{
    background:url(/images/landing_pg_img_1.png) no-repeat;
    height: 30em;
    background-size:100% 100%;
} */

.carousel-inner .carousel-item img{
    height: 30em;
}

.carousel-inner .carousel-item:nth-child(2) .carousel-caption{
    top: 0;
}

.carousel-caption{
    color: #415161;
}

.container .row .col-lg-3 .card .card-body img{
    width: 18vw; 
    height: 30vh;
}

#product-categories li{
   list-style-type: none;
}

#product-categories div{
    background-color: aqua; 
    border-radius: 15em;
}

#product-categories li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

/* #child_nav {
    display: none;
}

#parent_nav:hover #child_nav {
    display: block;
} */

#footer{
    background-color: #415161;
}

#footer .row{
    padding: 10px;
    color: #FFFFFF;
}